body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.underline1, .underline2 { 
  position: relative; 
}   

.underline1:after {
  position: absolute;
  content: '';
  height: 4px;
  bottom: -4px; 
  margin: 0 auto;
  left: 0;
  width: 80%;
  background: green;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.underline2:after {
  position: absolute;
  content: '';
  height: 4px;
  bottom: -4px; 
  margin: 0 auto;
  left: 0;
  width: 80%;
  background: #ffc107;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border-width: 0 2px 2px 0px !important
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  border-width: 0 2px 2px 0px !important
}